html, body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Helvetica, sans-serif;
}
p, h1{
    margin: 0%;
    
}


header{
    width: 100%;
    height: 20%;
    color: #ffffff;
    box-sizing: border-box;
    
}

header img{
    
    width: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

article{
    width: 100%;
    height: 78%;
    box-sizing: border-box;
    color: #ffffff;
    padding-top: 10%;
    padding-left: 15%;
    
}
article h1{
    font-size: 300%;
    -webkit-text-stroke: 2px black;
    font-weight: bolder;

    
}
article p{
    font-size: 200%;
    -webkit-text-stroke: 1.5px black;
    width: 40%;
    font-weight: bold;

    
}


footer{
    width: 100%;
    height: 2%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}



ul{
    width: 40%;
    margin-top: 7%;
    margin-right: 4%;
    list-style: none;
    display: inline;
    float: right;
    
    

}
li{
    display: inline;
}
    
li a{
    width: 15%;
    font-size: 150%;
    margin-right: 15%;
    color: #ffffff;
    -webkit-text-stroke: 1.5px black;
    font-weight: bolder;


}
    
a{
    text-decoration: none;
    color: black;   
}


#previous{
    width: 50%;
    height: 30%;
    margin-left: 25%;
    background-color: chartreuse;
    position: relative;
}

#current{
    width: 60%;
    height: 40%;
    margin-left: 20%;
    background-color:cyan;
    position: relative;
}

#next{
    width: 50%;
    height:30%;
    margin-left: 25%;  
    background-color: chartreuse;
    position: relative;
        
}

#previous p, #current p, #next p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}